<script id='bootstrap-current-user' type="text/javascript">
  <% if logged_in? %>
    window.currentUser = {
      id: <%= current_user.id %>,
      username: "<%=  current_user.username%>"
    }
    <% end %>
  </script>

<main id="root"></main>
