<script id='bootstrap-current-user' type="text/javascript">
  <% if logged_in? %>
    window.currentUser = {
      id: <%= current_user.id %>,
      username: "<%= current_user.username.html_safe %>"
    }
    <% end %>
  </script>

<main id="root"></main>
