// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-show{
  display: flex;
  justify-content: center;
}

.book-show-container {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  // background-color: #eae8de;
  width: 950px;
}

.book-show-loading-container{
  padding: 65px 20px;
}

.book-synopsis-container {
  width: 450px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom:15px;
}

.book-image__cover-photo {
  height: auto;
  width: 150px;
}

.book-title__title{
  font-size:20px;
  font-family: 'Merriweather', serif;
  font-weight:bold;
  line-height: 26px
}

.book-title__rating{
  padding:5px;
}

.book-show__right{
  padding-left:10px
}

.book-show-container{
  margin:20px 20px 20px 5px
}

.book-synopsis__hidden{
  display: none;
}

.book-synopsis__swap-content:hover{
  cursor: pointer;
  text-decoration: underline;
}

.book-details__swap-content:hover{
  cursor: pointer;
  text-decoration: underline;
}

.book-synopsis__swap-content{
  color: blue;
}

.book-details__hidden{
  display: none;
}
.book-details__visible{
  border-bottom: 1px solid #DDDDDD;
}

.book-details-long__row{
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: flex-start;
  align-items: center;
}
.book-details-long__row__header {
  font-weight: 700;
  // line-height: 18px;
  font-family: 'lato';
  padding:8px 8px 8px 0;
}

.book-details__row span{
  font-family: 'lato';
  color: #999;
  font-size: 14px;
}

.book-details__swap-content{
  font-family: 'lato';
  font-size: 14px;
  color:rgb(0,99,93);
}
