.bookshelf-show{
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookshelf-show__title{
  font-size: 28px;
  font-family: 'Merriweather'
}

.bookshelf-item__image{
  width: 50px;
}

.bookshelf-show__body{
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
}

.bookshelf-show__table{
  text-align: center;
  padding: 20px;
  width:750px;
  border-collapse: collapse;
  margin-left: 30px;
}

.bookshelf-show__sidelinks{
  width:200px;
}

.bookshelf-sidebar-container{
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bookshelf-show-loading-container{
  padding-top: 75px;
}

.bookshelf-sidebar__form__input{
  border-radius: 3px;
  border: 1px solid black;
  background-color: ghostwhite;
  margin-bottom: 10px;
}

.bookshelf-show__table__rating, .bookshelf-show__table__title{
  text-align: left;
}

.bookshelf-show__table__row td{
  border-bottom: 1px solid lightgrey;
  padding: 8px 0;
  // border: 3px solid red;
}

.bookshelf-show__table__head{
  // border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

.bookshelf-sidebar__form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  border-top: 1px solid grey;
}

.bookshelf-sidebar__item{
  padding: 5px;
}

.bookshelf-sidebar__all-books{
  padding: 5px;
  // margin-bottom: 15px;
  // border-bottom: 1px solid grey;
  font-family: 'lato';
  font-weight:bold;
}

.bookshelf-sidebar__div{
  height: 1px;
  width: 165px;
  background-color: grey;
  margin-bottom: 15px;
}

.bookshelf-sidebar__all-books:hover{
  text-decoration: underline;
  cursor: pointer;
}

.bookshelf-sidebar__item__link:hover,
.bookshelf-sidebar__item__delete:hover,
.bookshelf-item__title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.bookshelf-sidebar__item__delete{
  margin-left: 3px;
  font-size: 10px;
  color: blue;
}

.bookshelf-item__image:hover{
  opacity: 0.8;
  cursor: pointer;
}
