
.landing-header {
  width: 965px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}


.landing-header__right {
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.landing-header__demo {
  display: flex;
}


.landing-header__demo__link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #28619c;
}


.landing-header__field {
  width: 130px;
  height: 25px;
  border: 1px solid #DCD6CC;
  background-color: white;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  padding-left: 5px;
  border-radius: 3px;
}


.landing-header__left {
  font-family: 'Righteous', cursive;
  font-weight: 300;
  text-shadow: #FC8 0px 0 3px;
  font-size: 35px;
  cursor: default;
  user-select:none;
  /*   margin-top:-13px; */
}


.landing-header__demo__link, .landing-header__demo__title {
  font-family: 'Lato', sans-serif;
  width: 130px;
  font-size: 12px;
  color: #999;
  padding-left: 5px;
  padding-top: 5px;
}


.landing-header__submit-button {
  background-color: #382111;
  color: white;
  padding: 8px 12px;
  font-family: 'Lato', sans-serif;
  font-size: 12.5px;
  border-radius: 3px;
  space-between: .75px;
}


.landing-header__submit-button:hover {
  background-color: #573720;
}


.landing-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid white;
  background-image: image-url("https://s.gr-assets.com/assets/home/masthead_background.jpg");
}


.landing-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width:965px;
}

.landing-body__right{
  display:flex;
  flex-direction:column;
  margin-right:-100px;
}

.landing-body__right *{
  margin:3px;
}

.landing-body__field{
  font-size:16px;
  font-family:'Lato';
  width:285px;
  border:#dcd6cc 1px solid;
  background-color:white;
  border-radius:3px;
  padding:7px 5px;
}
.landing-body__submit-button{
  font-size:18px;
  padding:8px;
  background-color:rgb(253,208,95);
  width:85px;
  line-height:22px;
  text-align:center;
  border-radius:4px;
  font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.landing-body__submit-button:hover{
  background-color:rgb(255,213,109);
}

.landing-body__title{
  font-family:'Lato';
  font-size:18px;
  line-height:18px;
}

.landing-body__demo__link{
  background-color:#333333;
  color:white;
  text-align:center;
  padding:15px;
  position:relative;
  top:46px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

.landing-body__demo__link:hover{
  cursor:pointer;
  background-color:#444444;
}
