.nav-bar-container{
  display: flex;
  justify-content: center;
  // height: 800px;
  background-color: #eae8de;
}

.nav-bar{
  display: flex;
  width: 100%;
  height:60px;
  max-width: 1200px;
  min-width: 520px;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f4f1eb;
  border-bottom: 2px solid #dbd9d7;
  position:fixed;
  z-index: 1;
}

.left-nav-home, .right-nav-user,
.right-nav-logout, .left-nav-shelves{
  padding:20px;
}

.left-nav-home{
  font-family: 'Righteous', cursive;
  font-weight: 300;
  text-shadow: #FC8 0px 0 3px;
  padding-top: 10px;
  font-size: 27px;
  cursor: default;
  user-select:none;
}

.left-nav-home:hover{
  cursor: pointer;
}
.right-nav, .left-nav{
  display: flex;
  flex-direction: row;
  padding:0px;
}


.right-nav-logout:hover, .left-nav-shelves:hover{
  background-color: #352213;
  color:white;
  cursor: pointer;
}
