.nav-bar-container,
.personal-links-container {
  display: flex;
  justify-content: center;
  background-color: #eae8de;
}

.content-page {
  flex: 1 0 auto;
}
.personal-links__angel {
  background-image: image-url("AL_black.png");
  // padding: 25px;
  background-size: 35%;
  background-position: center;
}
.personal-links__linkedin {
  background-image: image-url("In_black.png");
  // padding: 25px;
  background-size: 55%;
  background-position: 60% 50%;
}
.personal-links__github {
  background-image: image-url("Git_black.png");
  // padding: 25px;
  background-size: 55%;
  background-position: center;
}
.personal-links__angel,
.personal-links__linkedin,
.personal-links__github {
  width: 100px;
  height: 64px;
  background-repeat: no-repeat;
}

.personal-links__github:hover {
  background-image: image-url("Git_white.png");
  background-color: #352213;
}
.personal-links__linkedin:hover {
  background-image: image-url("In_white.png");
  background-color: #352213;
}
.personal-links__angel:hover {
  background-image: image-url("AL_white.png");
  background-color: #352213;
}

.personal-links__icons {
  display: flex;
  flex-direction: row;
  // width: 250px;
  // align-items: space-between;
  justify-content: space-between;
}

.nav-bar,
.personal-links {
  display: flex;
  width: 100%;
  max-width: 1200px;
  min-width: 520px;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f4f1eb;
}

.nav-bar {
  border-bottom: 2px solid #dbd9d7;
  position: fixed;
  height: 60px;
  z-index: 1;
}

.personal-links {
  flex-shrink: 0;
  height: 64px;
}

.left-nav-home,
.right-nav-user,
.right-nav-logout,
.left-nav-shelves,
.left-nav-index {
  padding: 20px;
}

.left-nav-home {
  font-family: "Righteous", cursive;
  font-weight: 300;
  text-shadow: #fc8 0px 0 3px;
  padding-top: 10px;
  font-size: 27px;
  cursor: default;
  user-select: none;
}

.left-nav-shelves,
.left-nav-index,
.right-nav-user,
.right-nav-logout {
  font-family: "Lato", sans-serif;
}

.left-nav-home:hover {
  cursor: pointer;
}
.right-nav,
.left-nav {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.right-nav-logout:hover,
.left-nav-shelves:hover,
.left-nav-index:hover,
.right-nav-user:hover {
  background-color: #352213;
  color: white;
  cursor: pointer;
}
