.reviews-show-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
  border-top: 1px solid #ccc;
}

.review-item-container{
  display: flex;
  flex-direction: row;
  padding:5px;
}
.review-item__right{
  display: flex;
  flex-direction: column;
}

.review-item__user{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 570px
}

.review-item__user__image{
  width: 50px;
  height: 70px;
  margin-right:10px;
}

.review-item__user__info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 570px;
}

.review-item__user__rating{
  display: flex;
  flex-direction: row;
}
.review-item__filled{
  height: 20px;
  width: 20px;
}

.review-item__empty{
  height: 20px;
  width: 20px;
}

.review-item__user__name{
  font-family: 'lato';
  font-weight: bold;
  font-size: 14px;
  color:#00635D;
}

.review-item__user__rating__label{
  font-family: 'lato';
  font-size: 14px;
  padding: 0px 5px;
}

.review-item__body{
  font-family: 'Merriweather';
  font-size:14px;
}

.review-item__user__date{
  font-family: 14px;
  font-family: 'lato';
  color: #bbbbbb;
}

.review-item__user__left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.review-item__delete{
  padding:3px;
  background-color: rgb(244, 241, 234);
  border: 1px solid rgb(214, 208, 196);
  font-family: 'lato';
  font-size: 11px;
  width: 75px;
  border-radius: 3px;
}

.review-item__edit{
  font-family: 'lato';
  font-size: 14px;
  color:rgb(0,99,93);
  text-decoration: none;
}

.review-item__edit:hover{
  text-decoration: underline;

}

.review-item__delete:hover{
  background-color: #ede6d6;
  cursor: pointer;
}

.review-item__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.review-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;

}

.review-details__mini-graph-container, .review-details__average{
  display: flex;
  flex-direction: row;
}

.review-details__mini-graph{
  width: 16px;
  height: 16px;
}

.review-details__shown{
  display: flex;
  flex-direction: column;
  width:375px;
  height: 130px;
  position: absolute;
  background-color: ghostwhite;
  border:5px solid #C8C8C8;
  border-radius: 5px;
  padding: 5px;
  top: 150px;
  z-index: 1;
}

.review-details__hidden{
  display: none;
}

.review-details__graph__bars__five{
  background-color: #90BDD3;
  height:16px;
  // border-right: 1px solid black;
}
.review-details__graph__bars__four{
  background-color: #DEEAE8;
  height:16px;
  // border-right: 1px solid black;
}
.review-details__graph__bars__three{
  background-color: #A690D3;
  height:16px;
  // border-right: 1px solid black;

}
.review-details__graph__bars__two{
  background-color: #D3909C;
  height:16px;
  // border-right: 1px solid black;

}
.review-details__graph__bars__one{
  background-color: #EAE8DE;
  height:16px;
  // border-right: 1px solid black;
}

.review-details__graph__labels, .review-details__graph__stars__col, .review-details__graph__bars, .review-details__graph__pcts{
  display: flex;
  flex-direction: column;
}

.review-details__graph__stars{
  height:16px;
  width: 16px;
}
.review-details__graph__bars{
  width:250px;
}

.review-details__graph{
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
}

.review-details__graph__nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-details__graph__nav__exit{
  padding:1px 3px;
  background-color: #C8C8C8;
  border-radius: 4px;
  font-family: 'lato';
  font-size:11px;
  font-weight: 700;
}

.review-details__graph__nav__exit:hover{
  cursor:pointer;
}

.review-details__graph__nav__title{
  font-family: 'lato';
  font-size: 11px;
  font-weight: bold;
}

.review-details__graph__toggle:hover{
  cursor: pointer;
  text-decoration: underline;
}

.review-details__graph__label, .review-details__graph__pct{
  height: 16px;
}
