.review-form-container{
  display: flex;
  flex-direction: column;
  width: 720px;
  margin-top: 100px;
  margin-left: 100px;
}

.review-form-book-container{
  display: flex;
  flex-direction: row;
  width: 720px;
  justify-content: flex-start;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}

.review-form-book__cover{
  width: 50px;
  height: 75px;
  margin-right: 10px;
}

.review-form-book__title{
  font-family:'Merriweather';
  font-size:16.8px;
  font-weight: 700px;
  line-height: 21.84px;
}

.review-form-book__author{
  font-size: 14px;
  font-family: 'Merriweather';
  line-height:21px;

}

.review-form-book__right{
  display: flex;
  flex-direction: column;
}

.review-form__body{
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  width: 725px;
  height: 258px;
}

.review-form__rating{
  height:20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.fa-star:hover{
  cursor: pointer;
}

.star-1:hover{
  background-color: yellow;
}
.star-2:hover{
  background-color: yellow;
}
.star-3:hover{
  background-color: yellow;
}
.star-4:hover{
  background-color: yellow;
}
.star-5:hover{
  background-color: yellow;
}
